.container {
	border: 1px solid silver;
	padding: 10px;
	width: 300px;
	box-shadow: 1px 5px  10px grey;
}

h3 {
	font-size: 2em;
	margin-top: auto;
    margin-bottom: 10px;
}


.animal-image {
	width: 300px;
}

.information {
	border: 1px solid silver;
	width: 280px;
	padding: 10px;
}

.facts {
	font-style: italic;
}

ul {
	list-style: none;
	padding-left: 0;
	font-style: italic;
}


span {
	font-weight: bold;
	font-style: normal;
}